---
layout: default
title: GitLab.com
suppress_header: true
extra_css:
  - gitlab-com.css
---
.wrapper
  .image-title
    .color-bg
      %div
        %h1 GitLab.com
        %h3 host your private and public software projects for free
        .header
          %a#join-community.gs-button{href: "https://gitlab.com/users/sign_in"} Sign Up
        .header-feature.hidden-sm.hidden-xs
          %ul
            %li
              %i.fa.fa-check
              %p Free public and private repositories, issue tracking, wikis, and CI.
            %li
              %i.fa.fa-check
              %p Runs GitLab Enterprise Edition
            %li
              %i.fa.fa-check
              %p No installation required, sign up above for a free account!
        .header-feature-small.hidden-md.hidden-lg
          %ul
            %li
              %h4 Free private repositories, issue-tracking, wikis and continuous integration.
            %li
              %h4
                Runs GitLab Enterprise Edition with
                %a{href: "https://about.gitlab.com/features/#compare"}
                features that are not in GitLab Community Edition</a>
            %li
              %h4 No installation required, just sign up above for a free account!
  .sub-wrapper
    .container
      .row.advantages
        .col-xs-1.col-md-1
        .col-xs-12.col-md-5
          %h2
            Advantages
            %a{name: "advantages"}
          %ul
            %li Unlimited repositories
            %li Unlimited private collaborators
            %li 10GB disk space per project (including Git LFS)
            %li Unlimited total disk space
            %li Completely free, no credit card required
            %li
              %a{href: "/2016/02/18/gitlab-dot-com-now-supports-an-alternate-git-plus-ssh-port/"} Alternate SSH port for git+ssh (443)
          %p
            %a{href: "https://gitlab.com/explore"} Explore the public projects on GitLab.com
            (no account needed)
        .col-md-4.hidden-sm.hidden-xs
          = image_tag "/images/wordmark.png"
        .col-xs-6.col-md-1
      %hr.divider/
      .row.users
        .text-center.users
          %h2
            GitLab.com is used by more than 100,000 people,
            %br/
            including these organizations:
          %br/
        .logos
          .logo
            .logo_ibm
              = image_tag "/images/gitlab-com/ibm.png"
          .logo
            .logo_samsung
              = image_tag "/images/gitlab-com/samsung.png"
          .logo
            .logo_spacex
              = image_tag "/images/gitlab-com/spacex.png"
          .logo
            .logo_microsoft
              = image_tag "/images/gitlab-com/microsoft.png"
          .logo
            .logo_shopify
              = image_tag "/images/gitlab-com/shopify.png"
          .logo
            .logo_ibm
              = image_tag "/images/gitlab-com/toyota.png"
        %br/
        .disclaimer
          %small All logos and trademarks are the property of their respective owners.
      %hr.divider/
      .row.support
        .col-xs-6.col-md-1
        .col-xs-6.col-md-4.text-center
          %i.fa.fa-briefcase.hidden-xs.hidden-sm
        .col-md-1.hidden-sm.hidden-xs
        .col-xs-12.col-md-6
          %h2
            Support Package
            %a{name: "support-package"}
          %ul
            %li
              Free subscribers can use the
              %a{href: "https://gitlab.com/gitlab-com/support-forum/issues"} GitLab.com Support Forum
              if they have questions.
            %li
              If you purchase
              %a{href: "https://gitlab.recurly.com/subscribe/gitlab-com-bronze-yearly-20"} GitLab.com Bronze Support
              you can email support directly for timely, personal and private answers. This costs $9.99 per user per year for next-business-day response time and is available in packs of 20 users.
      .row.panels
        %h2
          Select package
          %a{name: "select-package"}
        .col-md-6
          .panel.panel-default
            .panel-heading
              %h3.panel-title Free
            .panel-body
              %b Unlimited
              private and public repositories
              %br/
              %b Unlimited
              private collaborators
              %br/
              Support via
              %a{href: "https://gitlab.com/gitlab-com/support-forum/issues"} the forum
              %br/
              %br/
              %b Completely free
              %br/
              %br/
              %a.btn.btn-lg.btn-default{href: "https://gitlab.com/users/sign_up"} Sign up
        .col-md-6
          .panel.panel-purple
            .panel-heading
              %h3.panel-title + Support
            .panel-body
              %b Unlimited
              private and public repositories
              %br/
              %b Unlimited
              private collaborators
              %br/
              %b Next-business day support
              %br/
              %br/
              %b $9.99 per user, per year in multiples of 20 users
              %br/
              %br/
              %a.btn.btn-lg.btn-purple{href: "https://gitlab.recurly.com/subscribe/gitlab-com-bronze-yearly-20"} Order support
      %hr.divider/
      .row.security
        .col-xs-1.col-md-1
        .col-xs-12.col-md-6
          %h2
            Availability and Security
            %a{name: "availability-and-security"}
          %ul
            %li
              GitLab.com is monitored 24/7. For updates follow
              %a{href: "https://twitter.com/gitlabstatus"} @gitlabstatus
              or see our
              = succeed "." do
                %a{href: "https://status.gitlab.com/", title: "status"} status page
            %li
              These are the fingerprints for GitLab.com's SSH host keys:
              %ul
                %li
                  DSA
                  %ul
                    %li MD5:7a:47:81:3a:ee:89:89:64:33:ca:44:52:3d:30:d4:87
                    %li SHA256:p8vZBUOR0XQz6sYiaWSMLmh0t9i8srqYKool/Xfdfqw
                %li
                  ECDSA
                  %ul
                    %li MD5:f1:d0:fb:46:73:7a:70:92:5a:ab:5d:ef:43:e2:1c:35
                    %li SHA256:HbW3g8zUjNSksFbqTiUWPWg2Bq1x8xdGUrliXFzSnUw
                %li
                  ED25519
                  %ul
                    %li MD5:2e:65:6a:c8:cf:bf:b2:8b:9a:bd:6d:9f:11:5c:12:16
                    %li SHA256:eUXGGm1YGsMAS7vkcx6JOJdOGHPem5gQp4taiCfCLB8
                %li
                  RSA
                  %ul
                    %li MD5:b6:03:0e:39:97:9e:d0:e7:24:ce:a3:77:3e:01:42:09
                    %li SHA256:ROQFvPThGrW4RuWLoL9tq9I9zJ42fK4XywyRtbOz/EQ
            %li Our servers are hosted on Amazon Web Services (AWS) and Azure, we use configuration management, and we patch our servers at least once a week.
            %li
              GitLab offers
              %a{href: "https://about.gitlab.com/2015/05/22/gitlab-7-11-released/"} Two-Factor Authentication
              (2FA) and our passwords are one-way encrypted.
            %li
              GitLab.com sends emails from the
              %code mg.gitlab.com
              domain via Mailgun and has its own dedicated IP address for this:
              %code 198.61.254.240
            %li
              GitLab.com can't be integrated with your LDAP server, if you need this please use
              = succeed "." do
                %a{href: "https://about.gitlab.com/features/"} GitLab CE or EE
        .hidden-xs.hidden-sm.col-md-4
          %i.fa.fa-terminal
        .col-xs-1.col-md-1
      %hr.divider/
      .row.import
        .col-xs-1.col-md-1
        .col-xs-12.col-md-6
          %h2
            Plenty of import options
            %a{name: "import-options"}
          %ul
            %li You can easily import all of your projects, repositories and issues from GitHub with a single click.
        .hidden-xs.hidden-sm.col-md-4
          .import-image
        .col-xs-1.col-md-1
      %hr.divider/
      .row.import
        .col-xs-1.col-md-1
        .col-xs-12.col-md-6
          %h2#why-gitlab-com-will-be-free-forever
            %a{name: "free-forever"}>
            Why GitLab.com will be free forever
          We want GitLab.com to become the most popular service for hosting projects.
          To achieve this goal, GitLab.com is free, both for public and private projects. Unlike other companies in this space, there is no limit to the number of collaborators.
          We think that in the future most repository hosting will be free in the same way email hosting is free today. So we thought, why wait? Let's make it free for everyone now.
          Currently our subscriptions for GitLab on-premises bring in more than enough revenue to pay for hosting.
          In the future we might introduce paid features but we intent to keep the features that you have now free.
